.App {
  border: 2px solid black;
  margin: 2px auto 0px auto;
  padding: 20px 10px 5px 10px;
  width: min-content;
}

.screen-container {
  border: 1px solid grey;
  width: 300px;
  height: 200px;
  margin: 0px auto;
  margin-bottom: 10px;
}

.button-container {
  width: 260px;
  height: 260px;
  border: 1px solid #b9b9b9;
  margin: 0px auto;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.common-buttons {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  outline: none;
  border: none;
  background-color: transparent;
  color: #b9b9b9;
  font-family: "Quicksand", sans-serif;
}

.center-button {
  width: 50%;
  height: 50%;
  background-color: #b9b9b9;
  border-radius: inherit;
  color: white;
}

.menu-button {
  top: 0px;
  height: 25%;
  width: 50%;
  border-radius: 37% 37% 0% 0%;
  font-size: 22px;
  font-weight: bolder;
}
.select-button {
  height: inherit;
  width: inherit;
  border-radius: inherit;
  outline: inherit;
  border: inherit;
  background-color: inherit;
}
.back-button {
  left: 0px;
  width: 25%;
  height: 50%;
  border-radius: 37% 0% 0% 37%;
}
.forward-button {
  right: 0px;
  width: 25%;
  height: 50%;
  border-radius: 0% 37% 37% 0%;
}
.play-pause-button {
  bottom: 0px;
  height: 25%;
  width: 50%;
  border-radius: 0px 0% 37% 37%;
}

.main-menu {
  width: 50%;
  height: 100%;
  position: relative;
  left: 0%;
  background-color: white;
}

.main-menu > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  width: 100%;
  height: 20%;
  /* border: 1px solid rgb(190, 190, 190); */
  box-sizing: border-box;
}

.main-menu > .selected {
  background-color: #3783d8;
  color: white;
}
